# COVID-19 Interactive Map Optimization

This Jupyter notebook contains the optimized code for generating an interactive map displaying COVID-19 data in Nigeria using Folium.

In [23]:

import pandas as pd
import folium
from folium.plugins import MarkerCluster, Fullscreen
from branca.element import Template, MacroElement
from folium import IFrame


# Function to generate a color based on the number of deaths
def color_scale(amount):
    if amount > 500:
        return 'darkred'
    elif amount > 100:
        return 'red'
    elif amount > 50:
        return 'orange'
    else:
        return 'green'

# Load the data
new_df_path = 'New_df.csv'
new_df = pd.read_csv(new_df_path)
new_df.drop(columns=['Unnamed: 0'], inplace=True)

# Correct the coordinates for the Niger state
new_df.loc[new_df['States Affected'] == 'Niger', 'Latitude'] = 9.6139
new_df.loc[new_df['States Affected'] == 'Niger', 'Longitude'] = 6.5569

# Initialize the Folium map
nigeria_coordinates = [9.0820, 8.6753]
map = folium.Map(location=nigeria_coordinates, zoom_start=6, tiles=None)

# Define tile layers
folium.TileLayer('cartodbpositron', name='CartoDB Positron').add_to(map)
folium.TileLayer('openstreetmap', name='OpenStreetMap').add_to(map)

# Marker clustering
marker_cluster = MarkerCluster().add_to(map)

# Add markers with custom popups
for idx, row in new_df.iterrows():
    folium.Marker(
        location=[row['Latitude'], row['Longitude']],
        popup=f"<b>State:</b> {row['States Affected']}<br>"
              f"<b>Confirmed Cases:</b> {row['Number of Lab Confirmed']}<br>"
              f"<b>Deaths:</b> {row['Number of Deaths']}",
        icon=folium.Icon(color=color_scale(row['Number of Deaths']), prefix='fa', icon='plus-square')
    ).add_to(marker_cluster)

# Fullscreen mode
Fullscreen(position='topright', title='Expand me', title_cancel='Exit me', force_separate_button=True).add_to(map)

# Add a legend
legend_html = '''
<div style="position: fixed; 
     bottom: 50px; left: 50px; width: 200px; height: 140px; 
     background: rgba(255, 255, 255, 0.8); z-index: 1000; font-size: 14px;
     border:2px solid grey; border-radius: 6px;
     padding: 10px; 
     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); overflow: auto;">
     &nbsp; <b>COVID-19 Death Toll</b> <br>
     &nbsp; > 500 &nbsp; <i class="fa fa-map-marker fa-2x" style="color:darkred"></i><br>
     &nbsp; > 100 &nbsp; <i class="fa fa-map-marker fa-2x" style="color:red"></i><br>
     &nbsp; > 50 &nbsp; <i class="fa fa-map-marker fa-2x" style="color:orange"></i><br>
     &nbsp; < 50 &nbsp; <i class="fa fa-map-marker fa-2x" style="color:green"></i>
</div>
'''

# Creating a folium Element for the custom legend HTML
legend_element = folium.Element(legend_html)

# Add the legend element to the map
map.get_root().html.add_child(legend_element)


# HTML code for the title
title_html = '''
<h3 style="position: fixed; 
    top: 2%; left: 50%; transform: translate(-50%, -50%);
    z-index: 9999; font-size: 24px; color: black;
    background: rgba(255, 255, 255, 0.8); padding: 5px; border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);">
    Interactive Map for Statistics on COVID-19 in Nigeria by State
</h3>
'''

# Creating a folium Element for the custom title HTML
title_element = folium.Element(title_html)

# Add the title element to the map
map.get_root().html.add_child(title_element)

# Layer Control
folium.LayerControl().add_to(map)


# Save the map to an HTML file
output_map_path = 'Final_map.html'
map.save(output_map_path)

In [9]:
new_df.isna().sum()

States Affected                  0
Number of Lab Confirmed          0
Number of Cases on Admission     0
Number Discharged                0
Number of Deaths                 0
Latitude                        36
Longitude                       36
dtype: int64

In [11]:
new_df

,States Affected,Number of Lab Confirmed,Number of Cases on Admission,Number Discharged,Number of Deaths,Latitude,Longitude
0,Lagos,"92,128","11,308","80,063",757,NaN,NaN
1,FCT,"26,910","3,085","23,593",232,NaN,NaN
2,Rivers,"14,261","1,004","13,103",154,NaN,NaN
3,Kaduna,"10,437",254,"10,098",85,NaN,NaN
4,Plateau,"10,135",101,"9,961",73,NaN,NaN
5,Oyo,"9,770",878,"8,699",193,NaN,NaN
6,Edo,"7,296",605,"6,410",281,NaN,NaN
7,Ogun,"5,660",240,"5,339",81,NaN,NaN
8,Ondo,"4,817",211,"4,508",98,NaN,NaN
9,Delta,"4,705","2,039","2,556",110,NaN,NaN
10,Kano,"4,647",171,"4,353",123,NaN,NaN
11,Akwa Ibom,"4,487",94,"4,349",44,NaN,NaN
12,Kwara,"4,185",412,"3,709",64,NaN,NaN
13,Osun,"3,107",67,"2,951",89,NaN,NaN
14,Enugu,"2,890",26,"2,835",29,NaN,NaN
15,Gombe,"2,784",41,"2,683",60,NaN,NaN
16,Nasarawa,"2,517",133,"2,345",39,NaN,NaN
17,Anambra,"2,489",65,"2,405",19,NaN,NaN
18,Katsina,"2,377",13,"2,327",37,NaN,NaN
19,Imo,"2,310",254,"1,999",57,NaN,NaN
20,Abia,"2,121",78,"2,010",33,NaN,NaN
21,Ebonyi,"2,062",26,"2,004",32,NaN,NaN
22,Benue,"1,907",370,"1,512",25,NaN,NaN
23,Ekiti,"1,898",123,"1,747",28,NaN,NaN
24,Bauchi,"1,851",37,"1,791",23,NaN,NaN
25,Borno,"1,532",188,"1,306",38,NaN,NaN
26,Bayelsa,"1,290",36,"1,226",28,NaN,NaN
27,Taraba,"1,269",15,"1,222",32,NaN,NaN
28,Adamawa,"1,157",27,"1,098",32,NaN,NaN
29,Niger,"1,077",59,998,20,9.6139,6.5569
30,Sokoto,810,0,782,28,NaN,NaN
31,Cross River,696,6,665,25,NaN,NaN
32,Jigawa,627,8,602,17,NaN,NaN
33,Yobe,502,3,490,9,NaN,NaN
34,Kebbi,470,0,454,16,NaN,NaN
35,Zamfara,375,12,354,9,NaN,NaN
36,Kogi,5,0,3,2,NaN,NaN